.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-image {
  border-radius: 0.5rem;
  display: block;
  width:100%;
  max-width: 500px;
}

.overlay {
    opacity: 0;
    position: absolute;
    color: white;
    font-size: 2em;
    transition: .3s ease;
}

.overlay {
    opacity: 1;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}