<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>Username</label>
    <input formControlName="username" type="text"  placeholder="username" ng-required>

    <label>Password</label>
    <input formControlName="password" type="password"  placeholder="password" ng-required>

    <label>Image</label>
    <input type="file" formControlName="img" accept="image/png, image/jpeg" (change)="onFileChange($event)" data-max-size="10" >

    <button mat-raised-button type="submit">Submit</button>
</form>

<div *ngIf="response">
  {{response}}
</div>

<div *ngIf="username.errors?.required">
  <p>Username is missing!</p>
</div>

<div *ngIf="username.errors?.minlength">
  <p>Username must be at least 3 characters long.</p>  
</div> 

<div *ngIf="username.errors?.maxlength">
  <p>Username must be less or equal than 25 characters long.</p>
</div> 

<div *ngIf="password.errors?.required">
  <p>Password is missing!</p>
</div>

<div *ngIf="password.errors?.minlength">
  <p>Password must be at least 8 characters long.</p> 
</div> 

<div *ngIf="password.errors?.maxlength">
  <p>Password must be less or equal than 25 characters long.</p> 
</div> 

<div *ngIf="image.errors?.required">
  <p>Image is missing!</p>
</div>