<div class="search-container">
  <nav class="navbar navbar-light">
    <!--    <p class="navbar-brand">Browse more gifs</p>-->
    <form class="container-fluid" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input
          class="form-control me-2"
          formControlName="searchTerm"
          type="search"
          placeholder="search gifs"
          aria-label="Search"
        />
        
        <button class="btn btn-outline" type="submit" id="submit">Search</button>
        <button class="btn btn-outline" type="button" (click)="clearSearch()">Clear</button>
      </div>
    </form>
  </nav>

  <div class="grid-container" *ngIf="resultList.length > 0">
    <app-gif-grid
    [gifs]="resultList"
    infoText="Search results"
    ></app-gif-grid>
  </div>
</div>
