.example-spacer {
  flex: 1 1 auto;
}

.bar1 {
  /* background-image: url("https://thumbs.dreamstime.com/b/portrait-funny-dog-behind-wheel-car-jack-russell-terrier-sunglasses-151057370.jpg"); */

  background-size: cover;
  color: #312244;
}

.navbar-light {
  background-color: #fca311;
  color: #fca311;
}
.navbar-brand {
  font-family: "Tahoma", Verdana, sans-serif;
  color: #312244;
  font-size: medium;
}

.offcanvas-body {
  background-color: #272640;
  color: #fca311;
}
.offcanvas-header {
  background-color: #fca311;
  color: #312244;
}

.navbar-brand {
  width: 60px;
  height: 60px;
  font-size: medium;
  float: left;
}
.img-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid #312244;
  border-radius: 50%;
}

.profile-pic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid #312244;
  border-radius: 50%;
}

.row{
  margin-top: 10px;
  padding-top: 10px;
}